<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	</head>
	<body>
{#<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills">
                {% for value in result %}

                    <li><a href="{{ url('formation.info',{'id' : value.id}) }}" >{{ value.name }}</a></li>

                {% endfor %}
            </ul>
        </div>
    </div>#}
{{ render_menu() | raw}}
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>{{ formation.name }}</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <h2>List of modules</h2>
            <ul class="list-group">
                {% for value in formation.modules %}
                    <li class="list-group-item"><a href="#">{{ value.name }}</a></li>
                {% endfor %}


            </ul>
        </div>
    </div>
</div>
</body>
</html>